body {
  font-family: Tahoma, sans-serif;
  font-size: 0.875em;
  background-color: #dfdfdf;
  position: absolute;
  width: 50%;
  left: 5%;
  top: 5%;
  padding: 10px;
}

a {
  color: red;
  text-decoration: none;
}

div.post {
  border: 1px dotted black;
  margin-bottom: 20px;
}

div.post h1 {
  font-family: Times, serif;
}